/*---------- OVERIDES ----------*/
*{
    margin: 0;
    padding: 0;
}

html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 700px;
    background-color: turquoise;
}

.carousel-caption{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box.flex {
    display: flex;
    justify-content: center;
}

.top-ten{
    padding: 15px 0 0 25px; 
    margin: 0;
    width: 100%;
    height: 1080px;
    background-color: rgb(0, 0, 0);
}

h1,h2,h3,h4,h5,h6,a,p,li,ul,a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 400;
}


a{
    /* FILL ME UP */
}


.col-md-6, .col-sm-6, .col-sm-4, .col-sm-3{
    padding: 0px;
}

.container-fluid, .container, html{
    padding: 0px;
    left: 0px;
    right: 0px;
}

body {
    padding: 0;
    margin: 0;   
}


li{
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;

    letter-spacing: 1.08px;

    font-family: Titillium Web;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;


    color: #FFFFFF;
}

.nav-link{
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;

    font-family: Titillium Web;
    font-weight: 400;
    letter-spacing: 1.08px;
    margin-top: 22px;
    padding-left: 86px;
    padding-right: 86px;
    opacity: 0.5;
}

.nav-link:hover{
    color: white;
    opacity: 0.9;
}

.active{
    color: rgb(255, 255, 255);
    font-weight: Bold;
    opacity: 1;
}

.ham-button{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    display: none;
}

.ham-button:focus{
    outline: none;
}

.carousel-caption{
    display: none;
}

#artemisImg{
    width: 1000px;
    height: 200px;
}

#artemisSlogan{
    font-size: 30px;
}

.heading-section{
    width: 100%;
    padding-top: 7%;
    /*background-color: blue;*/
    padding-bottom: 7%;
    
}

#main-heading{
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 8.46087px;
    display: block;
    font-family: URW Dock, Titillium Web;

}

#topten-text{
    color: white;
    text-align: center;
    margin-top: 5px;
    display: block;

    font-family: URW Dock, Titillium Web;
    font-style: normal;
    font-weight: bold;

    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 8.46087px;
    text-transform: uppercase;
    color: #9DA3A9;
    opacity: 0.7;
}




/*---------- LABEL THIS ----------*/



/* Medium Nav for Tablet */
@media screen and (min-width: 1200px) { /* Between Tablet and Mobile */


    .logo-container-full {
        display: block;
    }

    .logo-container-medium {
        display: none;
    }

    .logo-container-short {
        display: none;
    }

    .sign-in-button-large {
        display: block;
    }

    .sign-in-button-small {
        display: none;
    }

}

/* Medium Nav for Tablet */
@media screen and (min-width: 992px) and (max-width: 1200px) { 


    .logo-container-full {
        display: none;
    }

    .logo-container-short {
        display: block;
    }


    .sign-in-button-large {
        display: none;
    }

    .sign-in-button-small {
        display: block;
    }

    #artemisImg{
        width: 800px;
        height: 140px;
    }
    
    #artemisSlogan{
        font-size: 24px;
    }

    #main-heading{
        font-size: 48px;
    
    }
    
    #topten-text{
        font-size: 13px;
        
    }

}


/* Medium Nav for Tablet */
@media screen and (min-width: 544px) and (max-width: 992px) { /* Between Tablet and Mobile */
    
    .nav-link{
        padding-left: 40px;
        padding-right: 40px;
    }

    .logo-container-full {
        display: none;
    }

    .logo-container-short {
        display: block;
        float: left;
        float: left;
        margin-left: none;
    }

    .sign-in-button-large {
        display: none;
    }

    .sign-in-button-small {
        display: block;
        float: right;
        margin-right: 10px;
    }

    #artemisImg{
        width: 600px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #artemisSlogan{
        font-size: 0px;
        
    }

    #main-heading{
        font-size: 48px;
    
    }
    
    #topten-text{
        font-size: 13px;
    }

}

@media screen and (max-width: 544px) { /* mobile */

    .logo-container-full {
        display: none;
    }

    .logo-container-short {
        display: block;
    }

    .sign-in-button-large {
        display: none;
    }

    .sign-in-button-small {
        display: block;
    }

    .ham-button{
        display: block;
        margin-left: 20px;
    }

    .nav-link {
        display: none;
    }

    #artemisImg{
        width: 210px;
        height: 50px;
        display: block;
        margin: 0 auto;
    }
    #artemisSlogan{
        font-size: 0px;
        display: block;
    }

    #main-heading{
        font-size: 30px;
    
    }
    
    #topten-text{
        font-size: 10px;
        
    }

    
}






.nav{
    height: 77px;
    background: rgba(21, 22, 22, 0.8);
    backdrop-filter: blur(61px);
    mix-blend-mode: normal;
    width: 100%;
}

.test{
    width: 75%;
    margin-left: 12.5%;
    height: 220px;
    background-color: aquamarine;
    float: left;
}



.logo-container-full{
    width: 170px;
    height: flex;
    background-repeat: no-repeat;
    background-image: url(../assets/logo/Artemis-Full.svg);
    /* background-size: 40px 40px; */
    margin-right: 4.6%;
    margin-top: 20px;
}

.logo-container-short{
    width: 28px;
    height: flex;

    background-repeat: no-repeat;
    background-image: url(../assets/logo/Artemis-Short.svg);
    /* background-size: 40px 40px; */
    float: left;    
    margin-left: 10px;
    margin-right: 80px;
    margin-top: 22px;
}






.sign-in-button-large{
    width: 94px;
    height: 30px;  
    margin-left: 6%;
    padding-top: 2px;

    margin-right: 83px;
    margin-left: 80px + 4.6%;
    margin-top: 23px;
    padding-top: 4px;
    /*      position: absolute; */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    text-align: center;
    font-family: 'Rubik'; 
    letter-spacing: 1px;
    color: white;
    font-weight: 400;
    opacity: 0.75;
}

.sign-in-button-large:hover{
    cursor: pointer;
    opacity: 0.9;
    background: rgba(255, 255, 255, .2);
    color: rgb(255, 255, 255);
    border: rgba(255, 255, 255, 1);
}

.sign-in-button-small{
    width: 28px;
    height: flex;
    margin-left: 4.6%;
    /*background-color: royalblue;*/
    background-image: url(../assets/logo/account-icon.svg);
    background-repeat: no-repeat;
    padding-right: 10px;
    margin-left: 100px;
    float: right;
    margin-top: 30px;
    opacity: 0.75;
}

.sign-in-button-small:hover{
    cursor: pointer;
    opacity: 0.9;
}


/*------ PADDING STUFF ------*/

.bye-padding-left{
    padding-left: 0px;
}

.bye-padding-right{
    padding-right: 0px;
}

.mo-padding-left{ /* Not in Use */
    padding-left: 20%;
}

.mo-padding-right{ /* Not in Use */
    padding-right: 2%;
}

/*------ FOOTER ------*/

.footer-background{
    width: 100%;
    height: auto;
    background-color: #1E1E20;
    margin-top: 80px;
}

.footer-content{
    background-image: url(../assets/temporary/footer-large.png);
    height: 314px;
    width: 1558px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: auto 100% ;
}

@media screen and (max-width: 1560px) { /* Between Tablet and Mobile */


    .footer-content{
        background-image: url(../assets/temporary/footer-medium.png);
        width: 738px;
        overflow: hidden;
        height: 356px;
    }

}

@media screen and (max-width: 740px) { /* Between Tablet and Mobile */


    .footer-content{
        background-image: url(../assets/temporary/footer-small.png);
        width: 335px;
        overflow: hidden;
        height: 610px;
    }

}