.filter-section{
    width: 73%;
    height: 80px;
    background-color: #212223;
    padding-top: 13px;
    padding-left: 10px;
    border-radius: 10px;
}

.container-fluid{
    padding: 0px;
}

.section-heading{
    margin-top: 80px;
}




/* New Filter Aesthetic */

.filter-container{
    height: 82px;
    background-color: #0A0909;
    border-radius: 12px;
    margin-bottom: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    min-width: 320px;
}

.filter-button{
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.filter-label{
    /* Filter Movies */

    font-family: Rubik, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    letter-spacing: 4.93043px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 18px;
}

#movie-filter{
    padding-left: 6px;
    padding-right: 6px;
}


label{
    font-family: rubik, sans-serif;
    color: white;
    font-size: 20px;
    display: none;
}

/* 
Active Filter 
    background-color: 06286B;
    border: 2px;
    border: #0057FF;
*/

select{
    font-family: rubik, sans-serif;
    border: none;
    border-radius: 5px;
}

#genres, #release-year, #average_vote{

    width: 100%;
    height: 100%;
    font-size: 17px;
    background-color: #1E2020;
    color: #999FA5;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.255em;
    text-transform: uppercase;

    color: #999FA5;
    appearance: none;
    text-align-last: center
}

#genres:hover, #release-year:hover, #average_vote:hover{
    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;
    cursor: pointer;

    border: 2px;
    border: #0057FF;

}

.big-top-three{
    width: 100%;
  /* background: rgb(73,164,255); */
  border-radius: 10px;
  padding-top: 147.7124183%;
  margin-bottom: 10px;
  /*box-shadow: 0 28px 29px 0 rgba(0,0,0,.8);*/
  position: relative;
}

/*REVERT BACK TO THIS FILTER IF THE NEW ONE DOESNT WORK*/
/*.btn{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #0057FF;
    margin: 5px;
    padding-top: 3px;
    font-family: rubik, sans-serif;
    font-weight: 400;
}
*/


/*form{
    background-color: #212223;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-family: Titillium Web;
    text-transform: uppercase;
    border-radius: 10px;
}

#choose-a-genre{
    font-size: 21px;
    font-weight: 600;
    margin-left: 5px;
}

#genres{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
}

option{
    color: black;
}
*/

/*#go-button{
    margin-left: 15px;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #0057FF;
    border: none;
    width: 60px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

#go-button:hover{
    background-color: #00205f;
}
*/

.view-more a{
    text-decoration: none;
    color: white;
    opacity: 1;
}

.view-more:hover{
    background-color: #00205f;
}

.add-to-list a{
    text-decoration: none;
    opacity: 1;
    color: white;
}

.add-to-list:hover{
    background-color: #00205f;
}

.poster-ratio button{
    border: none;
    width: 48%;
    margin-left: 3px;
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid #000c25;
    background-color: #0057FF;
    color: white;
    float: left;
}

.poster-ratio button:hover{
    color: rgba(255, 255, 255, 0.486);
}


@media screen and (max-width: 1500px) {
    .section-heading{
        margin-top: 80px;
    }
    
    /* New Filter Aesthetic */
    
    .filter-container{
        max-width: 1340px;
        margin-bottom: 40px;

        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
    }

    #genres, #release-year, #average_vote{
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px){

    .section-heading{
        margin-top: 0px;
    }

    #genres, #release-year, #average_vote{
        font-size: 12px;
    }

    .filter-container{
        height: 70px;
    }

    .filter-label{
        margin-top: 14px;
        font-size: 16px;
    }

}


@media screen and (min-width: 992px) and (max-width: 1200px) { 
    .poster-ratio button{
       font-size: 14px;
       padding: 5px;
    }

}


/* Medium Nav for Tablet */
@media screen and (min-width: 544px) and (max-width: 992px) { /* Between Tablet and Mobile */
    .poster-ratio button{
        font-size: 14px;
        padding: 5px;
    }

}

@media screen and (min-width: 992px) {

    .filter-label{
        visibility: visible;
    }

    .filter-label.short{
        visibility: hidden;
    }
}

@media screen and (max-width: 991px) {
    .filter-label{
        visibility: hidden;
        height: 0px;
        width: 0px;
    }

    .filter-label.short{
        text-align: center;
        font-size: 13px;
        visibility: visible;
        width: auto;
        height: auto;
        margin-top: -16px;
    }
}






@media screen and (max-width: 841px) { /*BETWEEN TABLET AND MOBILE*/

    .section-heading.container-1440px{
        text-align: center;
    }

}

/* Maybe Delete */
@media screen and (max-width: 767px) {

    #genres, #release-year, #average_vote{
        font-size: 10px;
        padding-top: 2px;
    }

    .filter-container{
        max-width: 500px;
    }
}


@media screen and (min-width: 575px) {

    .sm-show{
        visibility: visible;
    }

    .sm-show{
        visibility: hidden;
    }
}


@media screen and (max-width: 575px) {

    .filter-container{
        height: 60px;
    }

    .sm-show{
        visibility: hidden;
    }

    .sm-hide{
        visibility: visible;
    }
}



@media screen and (max-width: 544px) { /* mobile */

    .poster-ratio button{
        font-size: 14px;
        padding: 5px;
        float: none;
        width: 100%;
    }

}