/*---------- OVERIDES ----------*/
*{
    margin: 0;
    padding: 0;
}

/* Right Side of Page */
.sign_up_form_con{
    background-image: url(../assets/signinSectionBackground.png) !important;
    background-size: cover;
    background-repeat: none;
    height: 100vh;
}

.form-container{
    color: white;
    margin-top: 20%;

}

.form-container h4{
    font-size: 52px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}

.form-container .intro-text{
    font-size: 16px;
    opacity: 0.6;
    max-width: 450px;
}

form{
    margin-top: 10%;
}

form p{
    margin-top: 10%;
    opacity: 0.8;
}

form label{
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.7;
    letter-spacing: 2px;
}

.form-control{
    border: none;
    padding-top: 6%;
    padding-bottom: 6%;
    background-color: rgba(255, 255, 255, 0.1);
    max-height: 60px;
}


.btn{
    margin-top: 10%;
    background-color: #0255F7;
    color: white;
    font-family: Rubik;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    width: 7rem;
    padding: 3%;
}


html,body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

strong{
    font-weight: 600;
}

.box.flex {
    display: flex;
    justify-content: center;
  }

h1,h2,h3,h4,h5,h6,a,p,li,ul,a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 400;
}

button a{
    color: white;
    opacity: 1;
}

button a:hover{
    opacity: 0.5;
}




/*---------------MAIN CONTENT SECTION---------------*/

.header{
    
/* Delete me? */
/* Add padding top */

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}


/* HERE */

/* Left Side of Page */
.sign_up_left_con{

    background-image: url(../assets/signInPoster.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;

    padding: 0;
    margin: 0;

    justify-content: center;
    text-align: center;
}


#header-text{

    width: 600px;
    height: 200px;
    color: white;
    font-weight: 700;
    font-size: 70px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: left;
    margin-top: 40vh;

    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25), 0px 2px 25px rgba(0, 0, 0, 0.75);

}

.dark-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.185);
}





/* Medium Nav for Tablet */
@media screen and (min-width: 1200px) { /* Between Tablet and Mobile */

    .intro-text{
        font-size: 17px;
    }

}

/* Medium Nav for Tablet */
@media screen and (min-width: 992px) and (max-width: 1200px) { 

    .sign_up_left_con{
        padding: 0;
        margin: 0;
    }

}


/* Medium Nav for Tablet */
@media screen and (min-width: 544px) and (max-width: 992px) { /* tablet */
    
    #artemisImg{
        width: 600px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-control{
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        height: 60px;
    }

    #header-text{
        display: none;
    }



    .sign_up_form_con{
        background-image: url(../assets/signUpSectionBackground.png);
        background-position: center;
        background-size: cover;
    }

    .form-container{
        width: 500px;
    }

    form{
        margin-top: 0px;
    }

    .form-container h4{
        font-size: 52px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: center;
    }
    
    .form-container .intro-text{
        font-size: 20px;
        opacity: 0.7;
        text-align: center;
        margin: 0 auto;
    }
    
    form{
        margin-top: 10%;
    }

    .btn{
        margin-top: 4%;
        background-color: #0255F7;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        width: 130px;
        height: 50px;
        padding: 13px;
    }
    
    form p{
        margin-top: 5%;
        opacity: 0.8;
    }
    
    form label{
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.7;
        letter-spacing: 2px;
    }
    

    .sign_up_left_con{
        display: none;
    }

    .header{
        height: 80vh;
    }

}

@media screen and (max-width: 544px) { /* mobile */


    #header-text{
        display: none;
    }

    .sign_up_left_con{
        background-image: none;
        padding: 0;
        margin: 0;
    }

    .sign_up_form_con{
        background-image: url(../assets/signUpSectionBackground.png);
        background-position: center;
        background-size: cover;
    }

    .form-container{
        color: white;
        margin-top: 30%;
        height: 900px;
    }

    form{
        margin-top: 0px;
    }

    .form-container h4{
        font-size: 52px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;
        text-align: center;
    }
    
    .form-container .intro-text{
        font-size: 20px;
        opacity: 0.7;
        text-align: center;
    }
    
    form{
        margin-top: 10%;
    }

    .btn{
        margin-top: 4%;
        background-color: #0255F7;
        color: white;
        font-family: 'Titillium Web';
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        width: 8rem;
        padding: 2%;
    }
    
    form p{
        margin-top: 5%;
        opacity: 0.8;
    }
    
    form label{
        text-transform: uppercase;
        font-size: 14px;
        opacity: 0.7;
        letter-spacing: 2px;
    }
    
    .sign_up_left_con{
        display: none;
    }

    .header{
        height: 75vh;
    }
    
}







