.poster-ratio {
  width: 100%;
  /* background: rgb(73,164,255); */
  border-radius: 10px;
  padding-top: 147.7124183%;
  margin-bottom: 10px;
  /*box-shadow: 0 28px 29px 0 rgba(0,0,0,.8);*/
  position: relative;
}

.poster-ratio-image-container{
  height: inherit;
  width: inherit;
  margin-top: -147.7124183%;
  border-radius: 10px;
  position: absolute;
}

@media (max-width: 515px) {
  .col-sm-6.col-md-4.col-lg-3.grid-4-desktop, .col-sm-6.col-md-3.grid-4-desktop {
    padding: 10px;
  }

  /* Less Padding */
  .col-sm-6.col-md-4.col-lg-3.grid-4-desktop, .col-sm-6.col-md-3.grid-4-desktop-stacked {
    padding: 10px;
  }

  p.top-10-label{
    font-size: 110px;
    line-height: 126px;
  
    margin-right: -28px;
    height: 86px;
    margin-top: -86px;
  }
}

/* POSTER GRID PADDING */

.col-sm-6.col-md-4.col-lg-3.grid-4-desktop, .col-sm-6.col-md-3.grid-4-desktop {
  padding: 13.5px;
  padding-top: 34px;
  padding-bottom: 34px;
}

/* Less Padding */
.col-sm-6.col-md-4.col-lg-3.grid-4-desktop, .col-sm-6.col-md-3.grid-4-desktop-stacked {
  padding: 13.5px;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}

.col-md-4.grid-3-desktop {
  padding: 17.5px;
  padding-top: 34px;
}

.col.mx-1.grid-5-desktop {
  padding: 6.5px;
  padding-top: 12px;
}

.row.no-gutters.d-xl-flex.justify-content-xl-start.container-1440px, .section-heading.container-1440px {
  min-width: 360px;
  /* max-width: 1440px; */
  width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: #131414;
}

.top-10-label{
  font-style: normal; /*      Maybe Change to Avenir     */
  font-family: Rubik;
  font-weight: 700;
  font-size: 160px;
  line-height: 195px;
  letter-spacing: 8.46087px;

  width: auto;
  float:right;

  margin-top: -145px;
  margin-right: -33px;
  text-align: right;
  height: 145px;

  color: rgb(255,255,255);
  /* color: linear-gradient(90deg, rgba(255,255,255,1) 38%, rgba(112,112,112,1) 100%); */    /*  FIX ME  */     

  text-shadow: 0px 6px 32px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 1;
}

/* HEADING STYLES */

/* h1, h2, h3, p, span? or whatever */

h2{
  /* COMING SOON */
  height: 71px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 62px;
  line-height: 71px;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #FFFFFF;
}


.sub-section-heading-info{

  font-family: Rubik;
  font-style: normal;
  font-weight: semi-bold;
  font-size: 26px;
  line-height: 30px;
  margin-top: 6px;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #9DA3A9;

  opacity: 0.8;
}

.left-full-logo{
  padding-left: 15px;
}





/* DRAW ME LIKE ONE OF YOUR FENCH GIRLS JACK
- Use these a lil later

$grid-breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);

*/

#movies-page{
  padding-top: 77px;
  /* Space For Nav Bar */
}

.centre-align-stuff{
  height: auto;
  width: 100%;
}

.release-date-label{
  width: 100%;
  height: 30px;

  margin-top: 15px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #9DA3A9;
  position: absolute;
}

/*-------- MEDIA QUERIES --------*/

@media screen and (max-width: 1200px) {

  .release-date-label{
    font-size: 17px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {

  h2{
    font-size: 36px;
    padding-top: 6px;
    padding-bottom: 0px;
  }


  .sub-section-heading-info{
    font-size: 21px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .section-heading.container-1440px{
    padding-top: 80px;
    padding-bottom: 20px;
  }

}


@media screen and (max-width: 768px) {

  h2{
    font-size: 30px;
    padding-top: 6px;
    padding-top: 22px;
  }

  .sub-section-heading-info{
    font-size: 17px;
  }

  .section-heading.container-1440px{
    padding-top: 56px;
    padding-bottom: 12px;
    width: 500px;
  }

}


@media screen and (max-width: 515px) {

  h2{
    font-size: 30px;
    padding-top: 22px;
    text-align: center;
  }

  .sub-section-heading-info{
    font-size: 17px;
    text-align: center;
  }
  

  .section-heading.container-1440px{
    padding-top: 46px;
    padding-bottom: 10px;
  }

}

@media (min-width: 360px) and (max-width: 767px) {

  .row.no-gutters.d-xl-flex.justify-content-xl-start.container-1440px {
    width: 500px;
    max-width: 500px;
  }
}

/*
.row.test .col.test { 
  height: 100px; 
  background: green; 
  width: 1440px;
}
*/